html
{
  background-image: linear-gradient(140deg, #FEAC5E 0%, #C779D0 50%, #4BC0C8 75%);
}
h1
{
  text-align: center;
}

.left {
  width:33%;
}
.game-mode {
  text-align:center;
  width:33%;
}
.right {
  text-align:right;
  width:33%;
}
.game-block
{
  margin-top: 20px;
  margin: auto;
  display: block;
  border: 4px solid #d3d3d3;
  background:#f1f1f1;
}
.P1keyboards
{
  left: 0;
  bottom: 0;
  position: absolute;
}
.P2keyboards
{
  right: 0;
  bottom: 0;
  position: absolute;
}
.centerDisplay
{
  height: 250px;
  width: 250px;
  background-image: linear-gradient(#6441A5 , #2a0845);

  color:white;
  font-size: 75px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 5s linear;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.heart {
  background-color: red;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

#left-hearts, #right-hearts, #countDown
{
  visibility: collapse;
}
#spaceShootDisplay
{
  margin-left: 50px;
}
#WDisplay
{
  bottom: 53;
  left: 53; 
  position: absolute;
}
#UpDisplay
{
  bottom: 53; 
  right: 53; 
  position: absolute;
}
#movementTextDisplay1
{
  bottom: 106; 
  left: 35; 
  position: absolute; 
  font-size: 20px;
}
#shootTextDisplay1
{
  bottom: 53; 
  left: 206; 
  position: absolute; 
  font-size: 20px;
}
#movementTextDisplay2
{
  bottom: 106; 
  right: 35; 
  position: absolute; 
  font-size: 20px;
}
#shootTextDisplay2
{
  bottom: 53; 
  right: 206; 
  position: absolute; 
  font-size: 20px;
}
#visibillity
{
  visibility: hidden;
}
#enterShootDisplay
{
  margin-right: 50px;
}