h1
{
  text-align: center;
}

.left {
  width:33%;
}
.game-mode {
  text-align:center;
  width:33%;
}
.right {
  text-align:right;
  width:33%;
}
.game-block
{
  margin-top: 20px;
  margin: auto;
  display: block;
  border: 4px solid #d3d3d3;
  background:#f1f1f1;
}
.P1keyboards
{
  left: 0;
  bottom: 0;
  position: absolute;
}
.P2keyboards
{
  right: 0;
  bottom: 0;
  position: absolute;
}
.centerDisplay
{
  height: 250px;
  width: 250px;
  background-color: rgb(128,0,0);
  color:white;
  font-size: 75px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}