html
{
  background-image: linear-gradient(140deg, #FEAC5E 0%, #C779D0 50%, #4BC0C8 75%);
}
h1
{
  text-align: center;
}
.thirth
{
  width:33%
}

#game-mode {
  text-align:center;
}
#right {
  text-align:right;
}
.game-block
{
  width : 75%;
  height : 75%;
  top: 50%;
  left: 50%;
  transform: translate(15%,0%);
  border: 1px solid #d3d3d3;
  background:#f1f1f1;
  display: none;
}
.P1keyboards
{
  left: 0;
  bottom: 0;
  position: absolute;
}
.P2keyboards
{
  right: 0;
  bottom: 0;
  position: absolute;
}
.centerDisplay
{
  height: 250px;
  width: 250px;
  background-image: linear-gradient(#6441A5 , #2a0845);
  color:white;
  font-size: 75px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 10px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}

.heart:before {
  top: -5px;
  left: 0;
}

.heart:after {
  left: 5px;
  top: 0;
}

#left-hearts, #right-hearts, #countDown
{
  visibility: collapse;
}
#spaceShootDisplay
{
  margin-left: 50px;
}
#WDisplay
{
  bottom: 53;
  left: 53; 
  position: absolute;
}
#UpDisplay
{
  bottom: 53; 
  right: 53; 
  position: absolute;
}
#movementTextDisplay1
{
  bottom: 106; 
  left: 35; 
  position: absolute; 
  font-size: 20px;
}
#shootTextDisplay1
{
  bottom: 53; 
  left: 206; 
  position: absolute; 
  font-size: 20px;
}
#movementTextDisplay2
{
  bottom: 106; 
  right: 35; 
  position: absolute; 
  font-size: 20px;
}
#shootTextDisplay2
{
  bottom: 53; 
  right: 206; 
  position: absolute; 
  font-size: 20px;
}
#visibillity
{
  visibility: hidden;
}
#enterShootDisplay
{
  margin-right: 50px;
}
.pause
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  padding: 15px;
  z-index: 10;
  background-color: black;
  width: 10%;
  height: 25%;
}
.pause.active
{
  transform: translate(-50%,-50%) scale(1);
}
.pause button
{
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  height : 33%;
  background-color: #d3d3d3;
}
.pause button.active
{
  background-color: #00ff00;
}
#overlay
{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  inset: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlay.active
{
  pointer-events: all;
  opacity: 1;
}