<html>
    <head>
        <meta charset="UTF-8" />
        <title>Reddit | <%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
        <link rel="icon" href="../images/redditIcon.ico" type="image/redditIcon" />
    </head>
    <body>
        <nav class="first">
            <div>
              <a href="/posts"><h1>REDDIT 2.0</h1></a>
              <p>SQL Server Execrise</p>
            </div>
            <ul>
              <% try{ if(user) { %>
                <li>Welcome, <%= user %></li>
                <li><a href="/posts/submit">New Blog</a></li>
                <li><a href="/user/<%= user%>/posts/">MyBlogs</a></li>
                <li><a href="/user/logout">Logout</a></li>
              <% }} catch { %>
                <li><a href="/user/register">Register</a></li>
                <li><a href="/user/login">Login</a></li>
              <% } %>
            </ul>
        </nav>
    </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(function () {
        $(".first ul li a[href='" + location.pathname + "']").addClass("active");
  });
</script>