<div class="list">

<% if(posts.length > 0) { %>
    <div class="scroll">
        <%- include('./postsTemplate') %>
    </div>
<% } else { %>
<p>No posts to show. <a href="" onclick="adjust(this)">Create a new one</a></p>
<% } %>
</div>